body {
    font-style: italic;
    font-family: serif;
    font-size: 20px;
    text-align: center;
    color: rgb(140, 51, 223);
}

main img {
    margin: 20px;
    width: 350px;
    height: 350px;
    border: 10px double rgb(117, 51, 223);
}

p img {
    width: 60px;
    height: 60px;
}

a {
    padding: 5px;
    border: 5px dotted rgb(190, 113, 235);
    border-radius: 30px;
    font-size: 50px;
    color: rgb(128, 183, 228);
}
